body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

#login-section, #content-section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    margin-top: 0;
}

input, textarea {
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ddd;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#content-section img {
    margin: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

textarea {
    height: 80px;
    resize: none;
}
